.loading {
  display: none;
}

.SignInForm {
  .card-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .btn:hover {
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.332),
      0 6px 10px 0 rgba(0, 0, 0, 0.245) !important;
    -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.332),
      0 6px 10px 0 rgba(0, 0, 0, 0.245) !important;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.332),
      0 6px 10px 0 rgba(0, 0, 0, 0.245) !important;
  }
}
